name: Cypress E2E
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  cypress-E2E:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # If you're using actions/checkout@v3 you must set persist-credentials to false in most cases for the deployment to work correctly.
      - uses: actions/setup-node@v3
        with:
          node-version: '18.1.0'
      - run: yarn install
      - run: yarn typecheck
      - uses: cypress-io/github-action@v2
        with:
          start: yarn start
          wait-on: 'http://localhost:3000'
          # the entire command will automatically be prefixed with "npm"
          # and we need the second "npm" to execute "cypress run ..." command line
          command-prefix: 'percy exec -- npx'
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
